@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', Inter, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
   --primary-color: #5D5FEF;
}

body {
  background-color: #F9FAFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: 'Poppins', Inter, Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

.remove-margin {
  margin: 0;
}

.w-99 {
  width: 99% !important;
}
canvas {
  width: 100% !important;
}
input:focus, input:focus-visible {
  outline: none;
}